node_modules
.git
.gitignore
*.md
dist
.next
.turbo
coverage
.env
.env.local
.env.*.local
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
__test__
.vscode
.idea
.eslintcache
build
out
.turbopack
.swc